@import "reset";
@import "theme";
a {
  color: @link-color;
}
a:hover {
  color: @link-hover-color;
}
b {
  color: @link-hover-color;
}
body {
  box-sizing: border-box;
  color: @gray-dark;
  font-family: @font-family-sans-serif;
  line-height: 1.4;
  font-size: @font-size-base;
}
h1, h2, h3, h4, h5, h6 {
  color: @gray-dark;
}
.text-center {
  text-align: center;
}
.stat-box-wrapper {
  padding: 1em;
}
.stats-map {
  border-top-left-radius: .125em;
  border-top-right-radius: .125em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .075), 0 0 0 1px rgba(0, 0, 0, .1);
}
.stat-box-title {
  color: @app-primary;
  margin: 0;
  font-weight: 400;
  font-size: 2em;
}
.app-title {
  margin: 1.5em 2em 1.5em;
  font-size: 2.75em;
  font-weight: @font-weight-bold;
}
.stat-box-label {
  margin: 0;
  font-size: 1.07em;
  font-weight: 400;
}
.justify {
  text-align: justify;
}
.font-serif {
  font-family: @font-family-serif;
}
.district:hover {
  fill: @district-color-hover;
  transition: all .2s;
}
.district {
  transition: all .1s;
  fill: @district-color;
  stroke: rgba(0, 0, 0, .8);
  stroke-width: 2;
  pointer-events: all;
}
.lead {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: @font-size-lg;
}
.faq-question {
  font-weight: 400;
  font-size: @font-size-lg;
  margin-bottom: 0;
  color: @app-primary-darker;
}
.faq-answer {
  margin-top: 0;
  font-weight: 400;
  font-size: @font-size-lg;
}
.stat-title {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
}
.flex-stat-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-stat-item {
  flex: 1 1 25%;
}
.share-btn {
  cursor: pointer;
  margin: .5em;
}
.cta-wrapper {
  margin-top: .75em;
  display: flex;
  flex-direction: row;
}
.cta-text {
  font-size: @font-size-lg;
  font-weight: bold;
}
.cta-button {
  font-family: @font-family-sans-serif;
  color: white;
  outline: none;
  border: none;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: 38px;
  padding: 0 30px;
  background-color: @app-primary;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  text-decoration: none;
  transition: all .1s;
}
.cta-button:hover {
  transition: all .15s;
  background-color: @link-hover-color;
}
.cta-input {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 100%;
  outline: none;
  border: 1px solid @gray-light;
  border-radius: 3px;
  font-size: @font-size-base;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 260px;
}
.cta-input:focus {
  border: 1px solid @gray-dark;
}
@media (max-width: 800px) {
  .district {
    stroke-width: 3;
    stroke: rgba(0, 0, 0, .75);
  }
}
@media (max-width: 650px) {
  .app-title {
    margin: 1em 0;
  }
  .stat-box-wrapper {
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
  }
  .flex-stat-item {
    flex: 50%;
  }
}
@media (max-width: 450px) {
  .flex-stat-item {
    text-align: center;
    flex: 100%;
  }
  .stats-box-item {
    display: flex;
    justify-content: space-between;
  }
  .cta-wrapper {
    flex-direction: column;
  }
  .cta-input {
    width: 100%;
  }
  .cta-button {
    margin-left: 0;
    margin-top: .5em;
    margin-bottom: 1em;
    width: 100%;
  }
}
