@import "reset";
@import "theme";
@district-color: rgba(255, 154, 8, 0);
@district-color-hover: rgba(255, 154, 8, 0.9);

body {
  box-sizing: border-box;
  color: @gray-dark;
  font-family: @font-family-sans-serif;
  line-height: 1.4;
  font-size: @font-size-base;
}
h1, h2, h3, h4, h5, h6 {
  color: @gray-dark;
}
.text-center {
  text-align: center;
}
.stat-box-wrapper {
  border-radius: .125em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .075), 0 0 0 1px rgba(0, 0, 0, .1);
  padding: 1em;
  margin-bottom: 1em;
}
.stat-box-title {
  margin: 0;
  font-weight: 300;
  font-size: 2em;
}
.app-title {
  margin-top: .75em;
  font-size: 2.5em;
  font-weight: @font-weight-bold;
}
.stat-box-label {
  margin: 0;
  font-size: 1.07em;
  font-weight: 300;
}
.justify {
  text-align: justify;
}
.font-serif {
  font-family: @font-family-serif;
}
.district:hover {
  fill: @district-color-hover;
  transition: all .2s;
}
.district {
  transition: all .1s;
  fill: @district-color;
  stroke: rgba(0, 0, 0, .8);
  stroke-width: 2;
  pointer-events: all;
}
.lead {
  font-weight: 300;
  font-size: @font-size-lg;
}
.stat-title {
  margin: 0;
  font-weight: 300;
  font-size: 2em;
}
.flex-stat-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-stat-item {
  flex: 1 1 25%;
}
@media (max-width: 800px) {

  .district {
    stroke-width: 3;
    stroke: rgba(0, 0, 0, .75);
  }
}
@media (max-width: 650px) {
  .stat-box-wrapper {
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
  }
  .flex-stat-item {
    flex: 50%;
  }
}
@media (max-width: 450px) {
  .flex-stat-item {
    text-align: center;
    flex: 100%;
  }
}
